#cloudImg{

    position: relative;
    left: -50%;

    /* Animation */
    animation-name: cloudMoveAnim;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#treeImg{
    position: relative;

    /* Animation */
    animation-name: treeMoveAnim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}

.duckDiv{
    position: relative;

    background-color: blue;
}

#duckImg{
    position: absolute;

    /* Animation */
    animation-name: duckImgAnim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes cloudMoveAnim{
    0% {
        left: -50%;
    }

    100% {
        left: 100%;
    }
}

@keyframes treeMoveAnim{
    0%{
        transform: scaleY(100%);
    }
    100%{
        transform: scaleY(105%);
    }
}

@keyframes duckImgAnim{
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(110%);
    }
}