body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #00000e;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Style main-wrapper */
#main-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100vw;
    height: 100vh;
    background-color: #00000e;
}

/* Style page-wrapper default settings */
.page-wrapper{
    position: relative;
    height: 100vh;
    margin: 400px 0 400px 0;
}

/* Style left NAV's default settings */
.wrapper-buttons{
    z-index: 666;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 95vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* NAV img placeholder */
.wrapper-buttons img {
    width: 100px;
}


/* wrapper-one === page 1 container */
.wrapper-one{
    background-color: #E5DCC3;
}

/* wrapper-two === page 2 container */
.wrapper-two{
    background-color: #C7BEA2;
}

/* wrapper-three === page 3 container */
.wrapper-three{
    background-color: #AAA492;
}

