
/* styling for page 2 */
.wrapper-two{
    background-image: linear-gradient(#ed972d,#4eb23f);
    background-size: 100% 100%;
    background-position: center;
}

#playAnimations{
    position: absolute;
    left: 300px;
    top: 450px;
    bottom: 0;
    background-color: brown;
    z-index: 123123123;
}

/* Background image container parent */
.buildings-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
}

/* Static assets */
#empireState{
    position: absolute;
    height: 700px;
    width: 500px;
    left: 1200px;
    bottom: 550px;
}
#yellowHouse{
    position: absolute;
    left: 20px;
    bottom: 80px;
    height: 666px;
    z-index: 1;
}
#pinkHouse{
    position: absolute;
    left: 340px;
    bottom: 350px;
    height: 555px;
}
#orangeHouse{
    position: absolute;
    left: 700px;
    bottom: 300px;
    width: 650px;
}
#blueHouse{
    position: absolute;
    left: 850px;
    bottom: -50px;
    height: 666px;
    transform: scaleX(-1);
    z-index: 99;
}
#silverHouse{
    position: absolute;
    left: 1400px;
    bottom: 0;
    height: 666px;
    z-index: 98;
}
#road{
    position: absolute;
    bottom: 60px;
    left: 150px;
    width: 2000px;
    height: 450px;
    transform: rotate(-15deg);
}
/* Static assets */


/* Harry Potter bus */
#purpleBus{
    position: absolute;
    left: 1500px;
    bottom: 500px;
    transform: rotate(-2deg);
    width: 450px;
    z-index: 1;
    animation-name: busAnimationStart, busAnimationEngine, busAnimationEnd;
    animation-duration: 10s, 150ms, 3s;
    animation-timing-function: ease-in-out, linear, ease-out;
    animation-iteration-count: 1, 20, 1;
    animation-delay: 1s, 12s, 15s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}@keyframes busAnimationStart{
    0% {
        left: 1500px;
        bottom: 500px;
    } 100% {
        left: 500px;
        bottom: 30px;
        z-index: 3;
    } 
}@keyframes busAnimationEngine{
    0% {
        bottom: 30px;
        z-index: 3;
    } 50% {
        bottom: 31px;
        z-index: 3;
    } 100% {
        bottom: 30px;
        z-index: 3;
    }
}@keyframes busAnimationEnd{
    0% {
        bottom: 30px;
    } 100% {
        left: -666px;
        bottom: -666px;
    }
}

/* Harry Potter bus */


/* Millennium Falcon */
#falconContainer{
    position: absolute;
    z-index: 666;
}
#falcon{
    position: absolute;
    left: 120px;
    top: 160px;
    width: 400px;
    transition-property: all;
    transition-duration: 5s;
    transition-delay: 200ms;
    transition-timing-function: ease-in-out;
    animation-name: fly;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 18s;
}@keyframes fly {
    0% {
    } 25% {
        top: 120px;
        transform: rotate(0deg);
        left: 120px;
    } 100% {
        transform: rotate(7deg);
        top: -20px;
        left: 2000px;
    }
}
#falcon:hover{
    top: -600px;
    left: 150px;
    transform: rotate(10deg);
}
/* Millennium Falcon */


/* Mr.Kirk entering bus */
#oleKirk{
    position: absolute;
    left: 550px;
    bottom: 140px;
    z-index: 2;
    width: 120px;
    animation-name: enterTheBus;
    animation-duration: 500ms;
    animation-delay: 12s;
    animation-fill-mode: forwards;    
}@keyframes enterTheBus {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}
/* Mr.Kirk entering bus */


/* Die Hard in Legoland */
#kittyContainer{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 666;
}
#kittyFreeFall{
    position: absolute;
    bottom: 530px;
    left: 500px;
    width: 90px;
    animation-name: nineLives;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}@keyframes nineLives {
    0% {
        left: 500px;
        bottom: 530px;
    } 50% {
        left: 500px;
        bottom: 430px;
        transform: rotate(0deg);
        opacity: 1;
    } 100% {
        bottom: 370px;
        transform: rotate(15deg);
        opacity: 0;
    }
}
#kittyFreeFall:hover{
    animation-play-state: running;
}
/* Die Hard in Legoland */